.close-button {
  position: absolute;
  right: 16px;
  top: 10px;
  color: #666;
}

::ng-deep .mat-dialog-container {
  position: relative;
}

.almost-full-width {
  width: calc(100% - 30px);
  display: block;
  margin: auto;
}