<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="https://scontent-den4-1.cdninstagram.com/vp/9d45d4e1aaeb8557156513b8635a14c1/5E5E096C/t51.2885-19/s320x320/38680820_2200777686824451_6427651629159284736_n.jpg?_nc_ht=scontent-den4-1.cdninstagram.com">
    <mat-card-title>jeremypleb</mat-card-title>
    <mat-card-subtitle>
      Hello Meladi! This is a simple post to test the formatting of a longer post.
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-divider></mat-divider>